@import "tailwindcss";
@import "tw-animate-css";
@import "@teispace/next-themes/tailwind.css";

@plugin "fluid-tailwindcss";

@plugin "daisyui" {
  logs: false;
  themes: emerald, synthwave;
}

@source "../../node_modules/rsc-daisyui/dist";

@custom-variant dark (&:where([data-theme="synthwave"], [data-theme="synthwave"] *, .synthwave, .synthwave *));

@theme {
  --font-geist: var(--geist-variable);
  --font-montserrat: var(--montserrat-alternates);
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  html {
    @apply font-geist;
  }

  a,
  button,
  img {
    @apply select-none;
  }
}
