@import "tailwindcss";
@import "tw-animate-css";
@import "@teispace/next-themes/tailwind.css";

@plugin "fluid-tailwindcss";

@plugin "daisyui" {
  logs: false;
  themes: emerald, synthwave;
}

@source "../../node_modules/rsc-daisyui/dist";

@custom-variant dark (&:where([data-theme="synthwave"], [data-theme="synthwave"] *, .synthwave, .synthwave *));

@theme {
  --font-geist: var(--geist);
  --font-good-times: var(--good-times);
  --font-axis: var(--axis);
  --animate-float-up: float-up 18s linear infinite;
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  html {
    @apply font-geist;
  }

  a,
  img,
  label,
  button,
  ::placeholder {
    @apply select-none;
  }

  .btn {
    @apply font-axis;
  }

  .floating-icon {
    @apply absolute -bottom-9 size-8 opacity-30 brightness-90 animate-float-up md:size-12 motion-reduce:animate-none;

    &:nth-of-type(1) {
      left: 7%;
      animation-duration: 26s;
    }

    &:nth-of-type(2) {
      left: 20%;
      animation-duration: 23s;
    }

    &:nth-of-type(3) {
      left: 30%;
      animation-duration: 25s;
    }

    &:nth-of-type(4) {
      left: 37%;
      animation-duration: 19s;
    }

    &:nth-of-type(5) {
      left: 45%;
      animation-duration: 27s;
    }

    &:nth-of-type(6) {
      left: 58%;
      animation-duration: 22s;
    }

    &:nth-of-type(7) {
      left: 72%;
      animation-duration: 28s;
    }

    &:nth-of-type(8) {
      left: 88%;
      animation-duration: 30s;
    }

    &:nth-of-type(9) {
      left: 50%;
      animation-duration: 24s;
    }

    &:nth-of-type(10) {
      left: 15%;
      animation-duration: 21s;
    }

    &:nth-of-type(11) {
      left: 28%;
      animation-duration: 25s;
    }

    &:nth-of-type(12) {
      left: 55%;
      animation-duration: 18s;
    }

    &:nth-of-type(13) {
      left: 67%;
      animation-duration: 26s;
    }

    &:nth-of-type(14) {
      left: 80%;
      animation-duration: 23s;
    }

    &:nth-of-type(15) {
      left: 92%;
      animation-duration: 20s;
    }
  }

  .collapse {
    @apply mb-3 border border-base-300 last:mb-0;
  }

  .collapse-content {
    @apply flex items-center justify-around flex-wrap gap-6;

    @supports (flex-wrap: wrap balance) {
      flex-wrap: wrap balance;
    }
  }
}

@keyframes float-up {
  0% {
    transform: translateY(0);
    opacity: 0.1;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    transform: translateY(-120vh);
    opacity: 0;
  }
}
