@import "tailwindcss";
@import "tw-animate-css";
@import "@teispace/next-themes/tailwind.css";

@plugin "daisyui" {
  logs: false;
  themes: black;
}

@source "../../node_modules/rsc-daisyui/dist";

@theme {
  --font-balsamiq: var(--balsamiq);
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  html {
    @apply font-balsamiq;
  }

  a,
  button {
    @apply select-none;
  }
}
